# dependencies
node_modules/
dist/
.env
.env.local
.firebase/
firebase-debug.log
dentaworth-local.png
dentaworth-live.png
dentaworth-home-*.png
dentaworth-about.png
dentaworth-contact.png
dentaworth-self-reporting*.png
dentaworth-privacy*.png
.vscode/
.idea/
.wix/
jsconfig.json
